* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
body{
background-image: url("/img/blurred-04.jpg");
background-size:cover;
background-repeat: no-repeat;
}
.form{

height:100vh;
width:100vw;
display:flex;
float:right;
align-items: center; /* jackInTheBox centrar div d-flex justify-content-center y align-items center */
justify-content:center;
}
.form-check{
display:flex;
float:right;
}
.form-check label{
position:relative;
top:-3px;
}
input[type=email],input[type=password],input[type=text]{
width:300px;
border:none;
border-bottom:2px solid rgba(255, 255, 255, 0.671);
background:none;
margin-bottom:20px;
margin-top:20px;
outline: none;
color:rgba(255, 255, 255, 0.671);
}
input[type=email]:focus{
background:none;
}
input[type=password]:focus{
background:none;
}

input[type=text]:focus{
background:none;
color:rgba(255, 255, 255, 0.671);
}
input[type=checkbox]{
background-color: rgba(128, 245, 206, 0.5);
}
  
.login-pic{
box-shadow:10px 10px 20px 0px rgba(255, 255, 255,0.3);
margin:0 auto;
padding:0;
height:80vh;
width:35vw;
display:flex;
align-items:center;
 /* jackInTheBox centrar div d-flex justify-content-center y align-items center */
justify-content:center;
background-color: rgba(128, 245, 206, 0.69);
background-size:inherit;
border-top-left-radius:8px;
border-bottom-left-radius:8px;
border-top-right-radius:0;
border-bottom-right-radius:0;

border-color: white;
position: relative;
left:7%;
}

.login-pic img{
animation-name:rotate;
animation-duration:5s;

animation-iteration-count: infinite;
opacity:.5;
width:250px;
height:250px;
}
.formulario{
box-shadow:10px 10px 20px 0px rgba(255, 255, 255,0.3);
color:rgba(255, 255, 255, 0.671);
border-top-left-radius:0;
border-bottom-left-radius:0;
border-top-right-radius:8px;
border-bottom-right-radius:8px;
display:flex;
float:left;
align-items:center; /* jackInTheBox centrar div d-flex justify-content-center y align-items center */
justify-content:left;
margin:0 auto;
padding:0;
border-left:solid 4px rgba(0,0,0,.5);
height:80vh;
width:35vw;
align-content:center;
background-color:rgba(0, 0, 0,.8);
position: relative;
right:8%;
}
form{
margin-left:10%;
}
input[type=button]{
background-color: rgba(128, 245, 206, 0.5);
border-radius:15px !important;
}
#registrarse{
position:absolute;
top:1em;
right:1em;
}
input[type=submit]{
background-color: rgba(128, 245, 206, 0.5);
border-radius:15px !important;
margin-bottom:20px;
margin-top:20px;
}

input[type=submit]:hover{
background-color: rgba(128, 245, 206, 0.5); 
}
input[type=button]:hover{
background-color: rgba(128, 245, 206, 0.5); 
}
#mostrar{ /*coloca el boton mostrar contraseña dentro del input text contraseña*/
width:30px;
height:30px;
display:block;
position:relative;
top:-3.1em;
left:90%;
}
#gmail{
border-radius:15px;
width:100px;
height:70px;
}

@-webkit-keyframes heart{
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity:1;
    }
  
    14% {
      -webkit-transform: scale(.9);
      transform: scale(.9);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(.9);
      transform: scale(.9);
      opacity:.3;
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity:1;
    }
  }

  @-webkit-keyframes rotate{
    0% {
      opacity:1;
      transform:rotate(0deg);
    }
    /*20% {
      
      transform:rotate(72deg);
    }*/
    50% {
      transition:10s;
      transform: rotate(180deg);
      opacity:.5;
    }
    

   
    
   100%{
    transform: rotate(360deg);
    opacity:1;
   }
  
  }
 
  
      
 @media (min-width:300px)and (max-width:568px){
 .login-pic{
 display:none;
 }
 .formulario{
 border:none;
min-width:100vw;
height:100vh;
position: relative;
left:0;

 }

 

}